
   <form action="/links/getter" method="get">
      Enter the site:
      <select name = "clname">
  <option>Bing</option>
  <option>Yahoo</option>
  <option>Google</option>
</select><br />
     

      Enter keyword: 
      <input id="key" name = "key"  size="30" type="text" /><br />

    Enter no of links:
      <input id="no" name = "no"  size="30" type="text" /><br />

      <input name="commit" type="submit" value="Go" />
    </form>

